.message{
  display: flex;
  align-items: center;
  padding: 20px;
}

.text{
  margin-left: 10px;
  background-color: lightgray;
  border-radius: 20px;
  padding: 15px;
}

.timestamp{
  text-align: center;
  padding: 20px;
  color: gray;
}

/* 'margin-left: auto' pushes the text as much as it can to the right*/
.textUser {
  margin-left: auto;
  background-color: #29b3cd;
  padding: 15px;
  border-radius: 20px;
  color: white;
}